.rodape{
    background-image: url('../../img/rodape.jpg');
    background-size: cover;
    background-position: center;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__logo{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--branco);
    font-weight: 700;
    border: 3px solid var(--branco);
    border-radius: 10px;
    padding: .5rem;
    line-height: 2.5rem;
    text-shadow: 2px 2px 5px #000;
}

.rodape__contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.rodape__telefone{
    margin-top: 2rem;
    display: inline-block;
    color: var(--branco);
    font-size: 2rem;
    text-shadow: 2px 2px 5px #000;
}

.rodape__contato___titulo{
    color: var(--branco);
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
}

.rodape__lista{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rodape__link{
    color: var(--azul-escuro);
    font-weight: 700;
    display: inline-block;
    padding: .5rem;
    margin: 5px;
    background-color: var(--branco);
    border-radius: 10px;
    transition: .25s ease-in-out;
}

.rodape__link:hover{
    background-color: var(--azul-escuro);
    color: var(--branco);
}


@media screen and (min-width: 1200px) {
    .rodape__conteudo{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: space-between;
    }

    .rodape__lista{
        display: flex;
    }
}

